body {
    background-color: rgb(226, 223, 223);
}
.principal {
    position: relative;
    width: 1366px;
    height: 740px;
    margin: 0 auto; /* Centramos el contenedor principal horizontalmente */
    background: #FBFBFB;
}
.logo-inicio {
width: 240px;
height: 250px;
top: 69px;
left: 19px;
gap: 0px;
opacity: 0px;

}

.boton {
/* Botón */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;

position: absolute;
width: 232px;
height: 45px;
left: 914px;
top: 379px;

/* Complementario/Blanco */
background: #FFFFFF;
/* Primario/P300 */
border: 1px solid #0C00FF;
border-radius: 2000px;

}

button{
    border: none;
    background-attachment: unset;
    background-color: transparent;
    
}

a {
    text-decoration: none;
}

.logo {
    /* Logo */

position: absolute;
width: 140px;
height: 93px;
left: 952px;
top: 246px;


}